<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>Личный кабинет</title>-->
<!--  <link rel="stylesheet" type="text/css" href="{% static 'jk/css/style_register.css' %}">-->
<!--</head>-->
<!--<body>-->
<!--  <header>-->
<!--    <nav>-->
<!--      <ul class="menu">-->
<!--        <li><a href="{% url 'home' %}">Главная страница</a></li>-->
<!--        <li><a href="{% url 'about' %}">О нас</a></li>-->
<!--        <li><a href="{% url 'personal_area' %}">Личный кабинет</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </header>-->
<!--  <h1>Вы вошли</h1>-->
<!--</body>-->
<!--</html>-->
